#title {
    background-color: #c57466;

}

.container-fluid {
    padding: 3% 7%;
}

#logo {
    color: #ffffff;
}
.custom-toggler{
    border: none;
}
.navbar-toggler-icon{
    filter: invert(1);
}
.navigation {
    margin: 0;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    margin-left: 0;
}

/*nav bar*/
.navbar {
    padding: 0 0 5rem;
}

.navbar-brand {
    color: white;
    font-size: 2.rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

/*features*/
#features {
    padding: 7% 15%;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.6rem;
}

p {
    color: #8f8f8f;
}

.icon {
    color: #f1da09;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #c57466;
}

/* Testimonials */
#testimonials {
    text-align: center;
    background-color: #c57466;
    color: #ffffff;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/*press*/
#press {
    background-color: #c57466;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 20px 50px;
}

/*pricing*/
#pricing {
    text-align: center;
}

.pricing-content {
    justify-content: center;
    margin: 3% 7%;
}

.card-cont {
    padding: 10px 30px;

}
/* cta*/

#cta {
    background-color: #c57466;
    color: #ffffff;
    padding: 7% 15%;
    text-align: center;
    margin: 50px 0;
}
.cta-heading{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
/* footer*/

#footer {
    padding: 7% 15%;
    text-align: center;
}
.footer-icons{
    display: flex;
    justify-content: center;
}
.footer-icons p{
    padding: 10px 20px;
}
.footer-icons p:hover{
    color: #251f1f;
}

/*  media querys*/

@media (max-width: 1000px) {
    #title {
        text-align: center;
    }

    .title-image {
        width: 40%;
        position: static;
        transform: rotate(0);
    }

}